body {
    margin: 0;
    padding: 0;

    background-color: whitesmoke;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    
}

button {
    height: 40px;
    width: 100;
    margin: 0;
}

.container{
    height: 700px;
    width: 1000px;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
}

#books {
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#editSection{
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form {
    margin: 10;
    padding: 5;
    height: 200px;
    width: 250px;
    background-color: whitesmoke;
    border-style: solid;
    border-color:bisque;
    border-width: 10;
    
    display: flex;
    flex-direction: column;

    
}

